{% extends 'base.html.twig' %}

{% block title %}Nouvelle etiquette{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle etiquette</h1>

    {{ include('etiquette/_form.html.twig') }}

    <a href="{{ path('etiquette_index') }}">back to list</a>
{% endblock %}
