{% extends 'base.html.twig' %}

{% block title %}Modifier les ingredients{% endblock %}

{% block body %}
    <h1>Modifier l'ingrédient</h1>

    {{ include('ingredients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ingredients_index') }}">back to list</a>

    {{ include('ingredients/_delete_form.html.twig') }}
{% endblock %}
